* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

@media (max-width:1440px) {
    .width {
        width: 80%;
        margin: auto;

    }

    /* .container{
    background-color: #fff;
} */


    /* nav bar */

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        padding: 15px;
    }

    .menu {
        /* max-width: 30%; */
        display: flex;
        gap: 10px;
    }

    .search {
        width: 13%;
    }

    .menu a {
        text-decoration: none;
    }

    .bar {
        display: none;
    }

    /* header */
    .header {
        background: url(https://previews.123rf.com/images/alexyakimvski/alexyakimvski1612/alexyakimvski161200041/68190850-male-model-in-a-suit-posing-next-to-a-grey-wall.jpg);
        min-width: 100%;
        min-height: 100vh;
        background-position: cover;
        background-size: cover;
        box-sizing: border-box;
        position: relative;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
    }

    .title-cover {
        width: 100%;
        position: relative;
        min-height: 100vh;
    }

    .title h1 {
        font-size: 4rem;
    }

    .title span {
        color: rgb(109, 182, 0);
    }

    .title p {
        font-size: 1.4rem;
    }

    .title {
        color: white;
        /* width: 75%; */
        margin: 100px auto;
        /* position: absolute;
    top: 30%;
    left: 10%; */
    }

    .title button {
        padding: 15px 25px;
        border: none;
        border-radius: 10px;
        margin-top: 25px;
        font-weight: 600;
        background-color: rgb(109, 182, 0);
        color: rgb(248, 248, 248);
    }

    /* box */
    .features {
        display: flex;
        padding: 50px;
        justify-content: space-between;
    }

    .box a {
        text-decoration: none;
        color: black;
    }

    .box {
        padding: 40px 0;
        width: 22%;
        text-align: center;
        border: 1px solid rgb(216, 215, 215);
    }

    .box h4,
    .box p {
        margin-top: 20px;
    }

    .box p {
        color: grey;
    }

    /* feature */
    .f-content {
        width: 31%;
    }

    .f-img {
        max-width: 100%;
        position: relative;
        overflow: hidden;
    }

    .f-img img {
        width: 100%;
    }

    .f-head {
        text-align: center;
        margin: 80px 0;
    }

    .f-box {
        /* padding: 10px; */
        /* max-width: 100%; */
        display: flex;
        justify-content: space-between;
    }

    .f-shop {
        padding: 20px;
        background-color: rgb(142, 241, 85);
        opacity: .5;
        width: 93%;
        left: 10px;
        position: absolute;
        display: flex;
        justify-content: space-around;
    }

    .f-img:hover {
        .f-shop {
            transform: translateY(-100%);
            transition-duration: 1s;
        }
    }

    .f-price {
        padding: 10PX;
        border: 1px solid rgb(241, 239, 239);
        border-top: none;

        p {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 10px;
        }
    }

    .f-para {
        margin-top: 20px;
        color: grey;
    }

    del {
        color: grey;
        margin-left: 40px;
        font-size: smaller;
    }

    /* offer */
    .offer {
        background: url(https://themewagon.github.io/eiser/img/offer-bg.png) no-repeat;
        background-position: center;
        margin: 60px 0;
        /* max-width: 100vw; */
    }

    .o-content {
        display: flex;
        justify-content: end;
    }

    .o-detail {
        padding: 120px;
        text-align: center;

        .first {
            color: grey;
            font-size: 1.5rem;
        }

        .o-h1 {
            font-size: 6.5rem;
            font-weight: 700;
        }

        button {
            background-color: rgb(98, 199, 40);
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 11px 30px;
            margin-top: 40px;
            border: 1px solid rgb(98, 199, 40);
        }

        .last {
            color: grey;
            margin: 20px 0;
        }

    }

    button:hover {
        color: rgb(98, 199, 40);
        background-color: #fff;
        transition-duration: .5s;
    }

    /* new-header */
    .n-header {
        text-align: center;

        /* border: 1px solid; */
        h2 {
            padding-bottom: 20px;
        }

        p {
            color: grey;
        }
    }

    /* new-product */

    .product {
        margin-top: 80px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .left {
            background: #f6f6f6;
            max-width: 50%;
            padding: 20px;
            text-align: center;
        }

        .right {
            display: flex;
            max-width: 50%;
            /* max-height: 100vh; */
            flex-wrap: wrap;
            gap: 40px;
            justify-content: end;
        }

        .r-card {
            width: 250px;
            height: 340px;
            /* background: #f6f6f6;   */
        }

        .product-img {
            width: 100%;
            margin: 70px 0;

            img {
                width: 100%;
            }
        }

        h5 {
            font-size: larger;
            font-weight: 500;
            margin: 70px 0 20px 0;
        }

        .first {
            font-size: 2rem;
            font-weight: 700;
        }

        .second {
            font-size: 2rem;
            font-weight: 400;
        }

        button {
            padding: 14px 35px;
            border-radius: 5px;
            border: 1px solid rgb(98, 199, 40);
            background-color: rgb(98, 199, 40);
            color: #f6f6f6;
            font-weight: 500;
            margin: 20px 0 60px 0;
        }

        button:hover {
            background-color: #f6f6f6;
            color: rgb(98, 199, 40);
            transition-duration: .5s;
        }
    }

    .r-img {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .r-img img {
        width: 100%;
    }

    .r-shop {
        position: absolute;
        background-color: rgb(98, 199, 40);
        opacity: .5;
        width: 90%;
        left: 11px;
        padding: 10px 0;
        display: flex;
        justify-content: space-around;

    }

    .r-card:hover .r-shop {
        transform: translateY(-40px);
        transition-duration: .5s;
    }

    .r-price {
        border: 1px solid rgb(230, 230, 230);
        border-top: none;
        margin-top: -3px;
        padding: 10px;

        p {
            padding: 7px 0;
            font-size: large;
        }

        .rate {
            font-size: 1.5rem
        }
    }

    /* inspired products  */

    .inspired {
        margin-top: 120px;
    }

    .i-head {
        text-align: center;

        p {
            margin: 40px 0 40px 0;
            color: rgb(175, 173, 173);
        }
    }

    .i-img {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .i-img img {
        width: 100%;
    }

    .i-card {
        width: 22%;
    }

    .i-shop {
        padding: 20px;
        background-color: rgb(142, 241, 85);
        opacity: .5;
        width: 93%;
        left: 10px;
        position: absolute;
        display: flex;
        justify-content: space-around;
        transition-duration: .5s;
    }

    .i-card:hover .i-shop {
        transform: translateY(-50px);
    }

    .i-price {
        padding-left: 10px;
        border: 1px solid rgb(230, 230, 230);
        border-top: none;
        margin-top: -4px;
        padding: 20px;
        width: 100%;

        p {
            padding-bottom: 10px;
            font-size: 1.1rem;
        }

        .rate {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }

    .i-product {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 50px;
        justify-content: space-between;
    }

    /* latest blog */
    .l-head {
        text-align: center;
        margin-top: 100px;

        p {
            margin: 30px 0 80px 0;
            color: rgb(214, 213, 213);
        }
    }


    .l-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .l-card {
        width: 31.2%;
        overflow: hidden;
    }

    .l-card:hover {
        .l-img img {
            scale: 1.1;
            transition-duration: 1s;
        }
    }

    .l-img {
        width: 100%;
        overflow: hidden;
    }

    .l-card img {
        width: 100%;
    }


    .l-info {
        span {
            color: rgb(151, 151, 151);
            font-weight: 300;
            font-size: 1rem;
        }

        #cmnt {
            margin-left: 40px;
        }

        h3 {
            margin: 15px 0 15px 0;
            font-weight: 500;
            font-size: 1.3rem;
        }

        p {
            color: rgb(151, 151, 151);
            ;
        }

        .learnmore {
            margin-top: 30px;
            font-weight: 300;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}


@media (max-width:786px) {

    /* inspired products  */

    .inspired {
        margin-top: 120px;
    }

    .i-head {
        text-align: center;

        p {
            margin: 40px 0 40px 0;
            color: rgb(175, 173, 173);
        }
    }

    .i-img {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .i-img img {
        width: 100%;
    }

    .i-card {
        width: 27%;
    }

    .i-shop {
        padding: 20px;
        background-color: rgb(142, 241, 85);
        opacity: .5;
        width: 93%;
        left: 10px;
        position: absolute;
        display: flex;
        justify-content: space-around;
        transition-duration: .5s;
    }

    .i-card:hover .i-shop {
        transform: translateY(-50px);
    }

    .i-price {
        padding-left: 10px;
        border: 1px solid rgb(230, 230, 230);
        border-top: none;
        margin-top: -4px;
        padding: 20px;
        width: 100%;

        p {
            padding-bottom: 10px;
            font-size: 1.1rem;
        }

        .rate {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }

    .i-product {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 50px;
        justify-content: space-between;
    }

    .none {
        display: none;
    }

    .bar {
        display: block;
    }



    /* new product */
    .product {
        margin-top: 80px;
        max-width: 100%;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between; */

        .left {
            background: #f6f6f6;
            max-width: 100%;
            padding: 20px;
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
        }

        .right {
            display: flex;
            max-width: 100%;
            /* max-height: 100vh; */
            flex-wrap: wrap;
            /* gap: 40px; */
            justify-content: center;
        }

        .r-card {
            width: 250px;
            height: 340px;
            /* background: #f6f6f6;   */
        }

        .product-img {
            width: 100%;
            margin: 70px 0;

            img {
                width: 100%;
            }
        }

        h5 {
            font-size: larger;
            font-weight: 500;
            margin: 70px 0 20px 0;
        }

        .first {
            font-size: 2rem;
            font-weight: 700;
        }

        .second {
            font-size: 2rem;
            font-weight: 400;
        }

        button {
            padding: 14px 35px;
            border-radius: 5px;
            border: 1px solid rgb(98, 199, 40);
            background-color: rgb(98, 199, 40);
            color: #f6f6f6;
            font-weight: 500;
            margin: 20px 0 60px 0;
        }

        button:hover {
            background-color: #f6f6f6;
            color: rgb(98, 199, 40);
            transition-duration: .5s;
        }
    }

    .r-img {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .r-img img {
        width: 100%;
    }

    .r-shop {
        position: absolute;
        background-color: rgb(98, 199, 40);
        opacity: .5;
        width: 90%;
        left: 11px;
        padding: 10px 0;
        display: flex;
        justify-content: space-around;

    }

    .r-card:hover .r-shop {
        transform: translateY(-40px);
        transition-duration: .5s;
    }

    .r-price {
        border: 1px solid rgb(230, 230, 230);
        border-top: none;
        margin-top: -3px;
        padding: 10px;

        p {
            padding: 7px 0;
            font-size: large;
        }

        .rate {
            font-size: 1.5rem
        }
    }

    /* latest blog */
    .l-head {
        text-align: center;
        margin-top: 100px;

        p {
            margin: 30px 0 80px 0;
            color: rgb(214, 213, 213);
        }
    }


    .l-content {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .l-card {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .l-card:hover {
        .l-img img {
            scale: 1.1;
            transition-duration: 1s;
        }
    }

    .l-img {
        width: 100%;
        overflow: hidden;
    }

    .l-card img {
        width: 100%;
    }


    .l-info {
        span {
            color: rgb(151, 151, 151);
            font-weight: 300;
            font-size: 1rem;
        }

        #cmnt {
            margin-left: 40px;
        }

        h3 {
            margin: 15px 0 15px 0;
            font-weight: 500;
            font-size: 1.3rem;
        }

        p {
            color: rgb(151, 151, 151);
            ;
        }

        .learnmore {
            margin-top: 30px;
            font-weight: 300;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}


@media(max-width:425px) {
    .features {
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        padding: 50px;
        justify-content: space-between;
    }

    .box a {
        text-decoration: none;
        color: black;
    }

    .box {
        padding: 40px 0;
        width: 100%;
        text-align: center;
        border: 1px solid rgb(216, 215, 215);
    }

    .box h4,
    .box p {
        margin-top: 20px;
    }

    .box p {
        color: grey;
    }


/* header */

    .header {
        background: url(https://previews.123rf.com/images/alexyakimvski/alexyakimvski1612/alexyakimvski161200041/68190850-male-model-in-a-suit-posing-next-to-a-grey-wall.jpg);
        min-width: 100%;
        min-height: 100vh;
        background-position: cover;
        background-size: cover;
        box-sizing: border-box;
        position: relative;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
    }

    .title-cover {
        width: 100%;
        position: relative;
        min-height: 100vh;
    }

    .title h1 {
        font-size: 4rem;
    }

    .title span {
        color: rgb(109, 182, 0);
    }

    .title p {
        font-size: 1.4rem;
    }
}